@model my_boot.Models.Product

    @{
        ViewBag.Title = "AddToCart";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>AddToCart</h2>


    
    @using(Html.BeginForm("AddToCart", "Products", FormMethod.Post))
    {
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <img src="@Url.Content(Model.P_image)" alt="Girl in a jacket" style="height : 60px;width : 60px;" />
                </div>

                <div class=" col-lg-8 col-md-8col-sm-8">
                    <h1>Product Name:@Model.P_name</h1>
                    <h1>Product Price:£  @Model.P_price </h1>
                    <input type="number" name="qty" value="0" id="qty" />

                </div>
                <input type="submit" value="Submit" class="btn-btn btn-default" />

            </div>

            

        </div>
     }
